    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <title>Basic DataGrid - jQuery EasyUI Demo</title>
        <link rel="stylesheet" type="text/css" href="https://avescoop.me/static/media/smcCourseList/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="https://avescoop.me/static/media/smcCourseList/themes/icon.css">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="https://avescoop.me/static/media/smcCourseList/jquery.easyui.min.js"></script>
<base target="_blank">

        <!--<link rel="stylesheet" type="text/css" href="../demo.css">-->
    </head>
    <body>
        <h2>Basic DataGrid</h2>
        <p>The DataGrid is created from markup, no JavaScript code needed.</p>
        <div style="margin:20px 0;"></div>

        <!--<table id='dg' class="easyui-datagrid" title="Basic DataGrid" style="width:100%;height:500px"-->
                <!--data-options="singleSelect:true,remoteSort:false,-->
                <!--multiSort:true,collapsible:false,url:'https://api.myjson.com/bins/ur60',method:'get'">-->
            <table id='dg' class="easyui-datagrid" title="Basic DataGrid" style="width:100%"
                data-options="singleSelect:true,remoteSort:false,pagination:true,pageSize:'50',
                multiSort:false,collapsible:false,url:'/../static/poos/json/finalEasyuiClassList.json',method:'get'">
            <thead>
                <tr>
                    <th data-options="field:'Department',width:210">Department</th>
                    <th data-options="field:'Course',width:100">Course</th>
                    <th data-options="field:'Instructor',width:100,align:'center'">Instructor</th>
                    <th data-options="field:'Session_id',width:40,align:'right'">ID</th>
                    <th data-options="field:'Time',width:120,align:'right'">Time</th>
                    <th data-options="field:'Weekday',width:40">Day</th>
                    <th data-options="field:'Location',width:120,align:'center'">Location</th>
                     <th data-options="field:'grade_A_rate',width:50,align:'center',sortable:'true',order:'desc'">A%</th>
                     <th data-options="field:'grade_gt_B_rate',width:50,align:'center',sortable:'true',order:'desc'">gtB%</th>
                     <th data-options="field:'grade_gt_C_rate',width:50,align:'center',sortable:'true',order:'desc'">gtC%</th>
                     <th data-options="field:'grade_gt_P_rate',width:50,align:'center',sortable:'true',order:'desc'">gtP%</th>
                     <th data-options="field:'rating',width:50,align:'center',sortable:'true',order:'desc'">rating</th>
                     <th data-options="field:'votes_num',width:50,align:'center',sortable:'true',order:'desc'">votes</th>
                     <th data-options="field:'igetc',width:130,align:'center'">igetc</th>

                </tr>
            </thead>
        </table>
        <!--<table id="dg" class="easyui-datagrid" title="Basic DataGrid" style="width: 100%"></table>-->

        <!--<script>-->
                <!--$('#dg').datagrid({-->
        <!--url:'/../static/poos/json/finalEasyuiClassList.json',-->

        <!--columns:[[-->
            <!--{field:'Department',title:'Department',width:220},-->
            <!--{field:'Course',title:'Course',width:100},-->
                <!--{field:'Instructor',title:'Instructor',width:100},-->
                <!--{field:'Session_id',title:'ID',width:40,align:'right'},-->

                <!--{field:'Time',title:'Time',width:120,align:'right'},-->
                <!--{field:'Weekday',title:'Day',width:50},-->
                <!--{field:'Location',title:'Location',width:120,align:'center'},-->
                <!--{field:'grade_A_rate',title:'A%',align:'right',sortable:true,width:50},-->
                <!--{field:'grade_gt_B_rate',title:'gtB%',align:'right',sortable:true,width:50},-->
                <!--{field:'grade_gt_C_rate',title:'gtC%',align:'right',sortable:true,width:50},-->
                <!--{field:'grade_gt_P_rate',title:'gtP%',align:'right',sortable:true,width:50},-->
                <!--{field:'rating',title:'rating',align:'right',sortable:true,width:50},-->
                <!--{field:'votes_num',title:'votes',align:'right',sortable:true,width:50},-->
                <!--{field:'igetc',title:'igetc',align:'center',width:140}-->
        <!--]],-->

<!--//                        pagination:true,-->
<!--//                    pageNumber:2,-->
<!--//                    pageSize:1000,-->
<!--//                    pageList:[1000,2000,3000,3085],-->
                    <!--sortOrder: 'desc',-->
                        <!--singleSelect:true,-->
                        <!--remoteSort:false,-->
                        <!--multiSort:false,-->
                    <!--fitColumns:false,-->
                    <!--striped:true,-->
                    <!--method:'post',-->
<!--//                    loadFilter: function(data){-->
<!--//-->
<!--//            $('#dg').datagrid('enableFilter', [-->
<!--//                    {-->
<!--//-->
<!--//                field:'grade_A_rate',-->
<!--//                type:'numberbox',-->
<!--//                options:{precision:1},-->
<!--//                op:['equal','notequal','less','greater']-->
<!--//            },-->
<!--//                    {-->
<!--//                field:'grade_gt_B_rate',-->
<!--//                type:'numberbox',-->
<!--//                options:{precision:1},-->
<!--//                op:['equal','notequal','less','greater']-->
<!--//            },-->
<!--//                    {-->
<!--//                field:'grade_gt_C_rate',-->
<!--//                type:'numberbox',-->
<!--//                options:{precision:1},-->
<!--//                op:['equal','notequal','less','greater']-->
<!--//            },-->
<!--//                    {-->
<!--//                field:'grade_gt_P_rate',-->
<!--//                type:'numberbox',-->
<!--//                options:{precision:1},-->
<!--//                op:['equal','notequal','less','greater']-->
<!--//            },-->
<!--//                    {-->
<!--//                field:'rating',-->
<!--//                type:'numberbox',-->
<!--//                options:{precision:0.1},-->
<!--//                op:['equal','notequal','less','greater']-->
<!--//            },-->
<!--//-->
<!--//                    {-->
<!--//                field:'votes_num',-->
<!--//                type:'numberbox',-->
<!--//                options:{precision:1},-->
<!--//                op:['equal','notequal','less','greater']-->
<!--//            }-->
<!--//-->
<!--//            ]);-->
<!--//                    }-->




    <!--});-->
        <!--</script>-->

<script type="text/javascript" src="https://avescoop.me/static/media/smcCourseList/datagrid-filter.js"></script>


<script>
                $(function(){
            var dg = $('#dg').datagrid();
            dg.datagrid('enableFilter', [
                    {

                field:'grade_A_rate',
                type:'numberbox',
                options:{precision:1},
                op:['equal','notequal','less','greater']
            },
                    {
                field:'grade_gt_B_rate',
                type:'numberbox',
                options:{precision:1},
                op:['equal','notequal','less','greater']
            },
                    {
                field:'grade_gt_C_rate',
                type:'numberbox',
                options:{precision:1},
                op:['equal','notequal','less','greater']
            },
                    {
                field:'grade_gt_P_rate',
                type:'numberbox',
                options:{precision:1},
                op:['equal','notequal','less','greater']
            },
                    {
                field:'rating',
                type:'numberbox',
                options:{precision:0.1},
                op:['equal','notequal','less','greater']
            },

                    {
                field:'votes_num',
                type:'numberbox',
                options:{precision:1},
                op:['equal','notequal','less','greater']
            }

            ]);
        });

</script>
    </body>
    </html>